@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nova+Mono&family=Open+Sans:ital,wght@0,270..800;1,300..800&display=swap");
:root {
  --background: #ffffff;
  --foreground: #1c1c1c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1c1c1c;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Proxima Nova, Montserrat, system-ui, Open Sans, ui-sans-serif,
    Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.arrow-icon {
  width: 27px;
  height: 27px;
  stroke-width: 5;
  cursor: pointer;
  &:hover {
    color: #0070ed;
  }
}

.carousel-item {
  padding-left: 44px;
}

.carousel-container {
  margin-left: -44px;
}
